{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <h1>Ajouter une nourrice</h1>
    {# personnalisation des erreurs #}
    {% form_theme form 'DeclareNounouGestNounouBundle:Form:fields_errors.html.twig' %}
    {{ form(form) }}
    <p>
        <a href="{{ path('nounou') }}" class="btn btn-success">
            <span class="el-icon-chevron-left"></span>
            Retour à la liste des nourrices
        </a>
    </p>
</div>
{% endblock %}
