{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <h1>Modifier la fiche enfant</h1>
    {# personnalisation des erreurs #}
    {% form_theme edit_form 'DeclareNounouGestNounouBundle:Form:fields_errors.html.twig' %}
    {{ form(edit_form) }}
    <p>
        <a href="{{ path('enfant') }} " class="btn btn-success">
            <span class="el-icon-chevron-left"></span>
            Retour à la liste des enfants
        </a>
   {{ form(delete_form) }}
    </p>
</div>
{% endblock %}
