<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Mandit Rémy">
        <meta name="description" content="Application web de gestion de la nounou : déclaration du contrat, des heures, aides pour la caf.">
        <title>{% block title %}Gestion Nounou{% endblock %}</title>

        {% stylesheets filter='cssrewrite, uglifycss'
            '@DeclareNounouGestNounouBundle/Resources/public/css/styleNounou.css'
            '@DeclareNounouGestNounouBundle/Resources/public/css/bootstrap3/css/bootstrap.css'
            'bundles/declarenounougestnounou/css/elusive-iconfont-master/css/elusive-webfont.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

    </head>
    <body>
        {% block navBarTop %}
            {% include "DeclareNounouGestNounouBundle:Navbar:navBarTop.html.twig" %}
        {% endblock %}
        
        {% block feedBack %}
            {% include "DeclareNounouGestNounouBundle:Navbar:feedBack.html.twig" %}
        {% endblock %}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        
        {% block navBarFooter %}
            {% include "DeclareNounouGestNounouBundle:Navbar:navBarFooter.html.twig" %}
        {% endblock %}
        
        {% javascripts filter='uglifyjs2'
            '@DeclareNounouGestNounouBundle/Resources/public/js/jquery.js'
            '@DeclareNounouGestNounouBundle/Resources/public/css/bootstrap3/js/bootstrap.js'
            '@DeclareNounouGestNounouBundle/Resources/public/js/mainFunctions.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block script %}
        {% endblock %}
    </body>
</html>