{# import du layout du bundle GestNounou #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="alert alert-{{ type }}">
    {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}
{% endfor %}

{% block fos_user_content %}
{% endblock fos_user_content %}

{% endblock %}
