{% block checkbox_widget -%}
    <div class="form-inline col-md-12">
        <input type="checkbox" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock checkbox_widget %}
