{% extends "DeclareNounouUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row-fluid">
        <div class="offset3 span6">
            <div class="alert alert-success">
                {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
            </div>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}
                    <p>
                    <a class="btn btn-success" href="{{ targetUrl }}">
                        <i class="el-icon-chevron-left"></i>
                        {{ 'registration.back'|trans }}
                    </a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock fos_user_content %}
