{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
<div class="col-md-offset-2 col-md-8">
    <h1>Modifier le pointage</h1>
    {# personnalisation des erreurs #}
    {% form_theme edit_form 'DeclareNounouGestNounouBundle:Form:fields_errors.html.twig' %}
    {{ form(edit_form) }}
    <p >
        <a href="{{ path('pointage') }}" class="btn btn-success">
            <span class="el-icon-chevron-left"></span>
            Retour à la liste des pointages
        </a>
        {{ form(delete_form) }}
    </p>
</div>
{% endblock %}
{% block script %}
{% javascripts filter='uglifyjs2'
    '@DeclareNounouGestNounouBundle/Resources/public/js/add-periode.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
