{# import du layout du bundle #}
{% extends "DeclareNounouGestNounouBundle::layout.html.twig" %}

{% block body %}
    <h1>Liste des pointages</h1>
    <div class="row-fluid">
        <div class="col-lg-6">
            <label for="select-contrat" class="required">Contrat</label>
            <select id="select-contrat" class="form-control">
                {% for entity in entities %}
                    <option value="{{ entity.id }}">{{ entity }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-3" id="datepicker-container">
            <label>Mois / Année</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="select-date">
                <span class="input-group-addon">
                    <span class="el-icon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <table class="table table-hover">
         <thead>
            <tr>
                <th>Date pointage</th>
                <th>Heure début</th>
                <th>Heure fin</th>
                <th>Heures réalisées</th>
                <th>Heures complémentaires</th>
                <th>Heures normales</th>
                <th>Repas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="list-pointage">   
        </tbody>
    </table>
    <p>
        <a href="{{ path('pointage_new') }}" class="btn btn-primary">
            <span class="el-icon-plus"></span> Ajouter un pointage
        </a>
    </p>
    {% endblock %}
